* {
    box-sizing: border-box;
    margin: 1vh 0.3vw 1vh 0.3vw;
}

p {
    font-size: 24px;
    font-weight: bold;
}

#container {
    display: flex;
    justify-content: space-between;
}

#something-2 {
    background-color: red;
}

#something-3 {
    background-color: green;
}

#left, #right {
    height: 30vh;
}

#left {
    background-color: pink;
}

#right {
    background-color: palevioletred;
}

#footer {
    background-color: orange;
}